<div class="wrapper">  
  <div class="sign-in">
    <div id="form-section">
      <img src='<%= asset_path("title.png") %>'/>

      <form action="<%= session_url %>" method="post">
        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">

        <input class="form-box"
               type="text" 
               name="user[username]"
               placeholder="Username">
        <br>

        <input class="form-box"
               type="password"
               name="user[password]"
               placeholder="Password">
        <br>

        <input class="submit-button" type="submit" value="Sign In">

        <%= render "shared/errors" %>
      </form>
    </div>

    <div id="link-section">
      <p>Don't have an account? <%= link_to "Sign up", new_user_url %></p>
    </div>
  </div>
</div>