<h1>Instant Noodle</h1>

<h2>Sign Up</h2>

<%= render "shared/errors" %>

<form action="<%= users_url %>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label>Username
    <input type="text"
           name="user[username]"
           value="<%= @user.username %>">
  </label>
  <br>

  <label>Full Name
    <input type="text"
           name="user[full_name]"
           value="<%= @user.full_name %>">
  </label>
  <br>

  <label>Password
    <input type="password"
           name="user[password]"
           value="<%= @user.password %>">
  </label>
  <br>

  <input type="submit" value="Sign Up">
</form>
