<div class="wrapper">  
  <div class="sign-in-up">
    <div id="form-section">
      <img src='<%= asset_path("title.png") %>'/>

      <form action="<%= users_url %>" method="post">

        <input type="hidden"
               name="authenticity_token"
               value="<%= form_authenticity_token %>">

        <input class="form-box"
               type="text"
               name="user[full_name]"
               value="<%= @user.full_name %>"
               placeholder="Full Name">
        <br>

        <input class="form-box"
               type="text"
               name="user[username]"
               value="<%= @user.username %>"
               placeholder="Username">
        <br>

        <input class="form-box"
               type="password"
               name="user[password]"
               value="<%= @user.password %>"
               placeholder="Password">
        <br>

        <input class="submit-button" 
               type="submit" 
               value="Sign Up">
      
        <%= render "shared/errors" %>
      </form>
    </div>

    <div id="link-section">
      <p>Have an account? <%= link_to "Log in", new_session_url %></p>
    </div>
  </div>
</div>